{% extends 'blog/base.html' %}

{% block content %}
{% if no_addrs %}
    {% if user.is_authenticated %}
        {% for addr in no_addrs %}
            <div class="post">
                <div class="date">
                    {{ addr.created_date }}
                </div>
                <h1><a href="{% url 'blog:addr_detail' pk=addr.pk %}">{{ addr.name }}</a></h1>
            </div>
        {% endfor %}
    {% endif %}
{% endif %}

{% if addrs %}
{% for addr in addrs %}
    <div class="post">
        <div class="date">
            {{ addr.created_date }}
        </div>
        <h1><a href="{% url 'blog:addr_detail' pk=addr.pk %}">{{ addr.name }}</a></h1>
    </div>
{% endfor %}
{% endif %}

{% endblock %}